node:internal/modules/cjs/loader:1554
  const err = new Error(`Cannot find module '${request}'`);
              ^

Error: Cannot find module '/home/runner/work/shadowgrid/shadowgrid/node_modules/@midnight-ntwrk/compact-js/dist/cjs/effect/index.js'
    at createEsmNotFoundErr (node:internal/modules/cjs/loader:1554:15)
    at finalizeEsmResolution (node:internal/modules/cjs/loader:1543:9)
    at resolveExports (node:internal/modules/cjs/loader:707:14)
    at Module._findPath (node:internal/modules/cjs/loader:774:31)
    at node:internal/modules/cjs/loader:1502:27
    at nextResolveSimple (/home/runner/work/shadowgrid/shadowgrid/node_modules/tsx/dist/register-C557imBs.cjs:10:1006)
    at /home/runner/work/shadowgrid/shadowgrid/node_modules/tsx/dist/register-C557imBs.cjs:9:4959
    at /home/runner/work/shadowgrid/shadowgrid/node_modules/tsx/dist/register-C557imBs.cjs:9:4261
    at resolveTsPaths (/home/runner/work/shadowgrid/shadowgrid/node_modules/tsx/dist/register-C557imBs.cjs:10:759)
    at /home/runner/work/shadowgrid/shadowgrid/node_modules/tsx/dist/register-C557imBs.cjs:10:1199 {
  code: 'MODULE_NOT_FOUND',
  path: '/home/runner/work/shadowgrid/shadowgrid/node_modules/@midnight-ntwrk/compact-js'
}

Node.js v24.19.0
