error TS5108: Option 'moduleResolution=node10' has been removed. Please remove it from your configuration.
error TS6231: Could not resolve the path 'node' with the extensions: '.ts', '.tsx', '.d.ts', '.cts', '.d.cts', '.mts', '.d.mts'.
  The file is in the program because:
    Root file specified for compilation
error TS6504: File '/home/runner/work/shadowgrid/shadowgrid/run-test.js' is a JavaScript file. Did you mean to enable the 'allowJs' option?
  The file is in the program because:
    Root file specified for compilation
error TS6504: File 'run-test.js' is a JavaScript file. Did you mean to enable the 'allowJs' option?
  The file is in the program because:
    Root file specified for compilation
