
[1m[30m[46m RUN [49m[39m[22m [36mv4.1.11 [39m[90m/home/runner/work/shadowgrid/shadowgrid[39m

 [31m❯[39m run-test.spec.ts [2m([22m[2m0 test[22m[2m)[22m

[31m⎯⎯⎯⎯⎯⎯[39m[1m[41m Failed Suites 1 [49m[22m[31m⎯⎯⎯⎯⎯⎯⎯[39m

[41m[1m FAIL [22m[49m run-test.spec.ts[2m [ run-test.spec.ts ][22m
[31m[1mError[22m: Transform failed with 1 error:

[31m[PARSE_ERROR] [0mExpected `,` or `)` but found `}`
     [38;5;246m╭[0m[38;5;246m─[0m[38;5;246m[[0m run-test.spec.ts:136:1 [38;5;246m][0m
     [38;5;246m│[0m
 [38;5;246m 16 │[0m [38;5;249mt[0m[38;5;249me[0m[38;5;249ms[0m[38;5;249mt[0m([38;5;249m'[0m[38;5;249mE[0m[38;5;249m2[0m[38;5;249mE[0m[38;5;249m [0m[38;5;249mR[0m[38;5;249mu[0m[38;5;249mn[0m[38;5;249mt[0m[38;5;249mi[0m[38;5;249mm[0m[38;5;249me[0m[38;5;249m [0m[38;5;249mv[0m[38;5;249me[0m[38;5;249mr[0m[38;5;249mi[0m[38;5;249mf[0m[38;5;249mi[0m[38;5;249mc[0m[38;5;249ma[0m[38;5;249mt[0m[38;5;249mi[0m[38;5;249mo[0m[38;5;249mn[0m[38;5;249m'[0m[38;5;249m,[0m[38;5;249m [0m[38;5;249ma[0m[38;5;249ms[0m[38;5;249my[0m[38;5;249mn[0m[38;5;249mc[0m[38;5;249m [0m[38;5;249m([0m[38;5;249m)[0m[38;5;249m [0m[38;5;249m=[0m[38;5;249m>[0m[38;5;249m [0m[38;5;249m{[0m
 [38;5;240m    │[0m     ┬  
 [38;5;240m    │[0m     ╰── Opened here
 [38;5;240m    │[0m 
 [38;5;246m136 │[0m }[38;5;249m)[0m[38;5;249m;[0m
 [38;5;240m    │[0m ┬  
 [38;5;240m    │[0m ╰── `,` or `)` expected
[38;5;246m─────╯[0m
[39m
  Plugin: [35mvite:oxc[39m
  File: [36m/home/runner/work/shadowgrid/shadowgrid/run-test.spec.ts[39m
[90m [2m❯[22m transformWithOxc node_modules/vite/dist/node/chunks/node.js:[2m4103:19[22m[39m
[90m [2m❯[22m TransformPluginContext.transform node_modules/vite/dist/node/chunks/node.js:[2m4174:26[22m[39m
[90m [2m❯[22m EnvironmentPluginContainer.transform node_modules/vite/dist/node/chunks/node.js:[2m30932:51[22m[39m
[90m [2m❯[22m loadAndTransform node_modules/vite/dist/node/chunks/node.js:[2m20671:26[22m[39m

[31m[2m⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯[1/1]⎯[22m[39m


[2m Test Files [22m [1m[31m1 failed[39m[22m[90m (1)[39m
[2m      Tests [22m [2mno tests[22m
[2m   Start at [22m 07:34:56
[2m   Duration [22m 170ms[2m (transform 0ms, setup 0ms, import 0ms, tests 0ms, environment 0ms)[22m

